# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Fichiers de configuration
*.spec

# Environnement virtuel
.venv/
venv/
env/
.env/
ENV/
VENV/
env_*/

# Fichiers sensibles
.env
.env.*
secrets.json
local_settings.py

# PyCharm
.idea/
*.iml

# Fichiers de configuration IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/
debug.log

# Fichiers temporaires
*.bak
*.swp
*~
temp/
tmp/

# Autres
afficher_structure.py
TRASH/
click_config.json